* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

.nav1-logo {
  display: none;
}

.nav1 {
  display: none;
}

.nav2 {
  display: none;
}

section {
  padding: 0px 8px;
}

.margin {
  padding: 0 20px;
}

h2 a {
  display: block;
  text-decoration: none;
  color: #ff4422;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding: 34px 0px 10px 0px;
}

h2 a:hover {
  color: black;
}

.nav3 {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 4;
}

.nav-logo {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.logo-image {
  height: 48px;
  width: 106px;
  background-color: black;
  text-align: center;
  display: flex;
  align-content: center;
  z-index: 999;
}

.logo-image > img {
  align-self: center;
  margin: auto;
  z-index: 999;
}

.nav-logo .icon1 {
  font-size: 22px;
  color: rgb(190, 190, 190);
}

.nav-logo .icon2 {
  font-size: 22px;
  color: #ff4422;
}

.nav-logo button {
  width: 48px;
  height: 48px;
  background-color: white;
  border: 1px solid rgb(243, 243, 243);
}

.first-sec {
  width: 100%;
  margin-top: 56px;
}

.moon-section {
  display: flex;
  margin: 0 0 8px 0;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 86%), url(/images/moon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 247px;
  width: 100%;
  padding: 15px 12px;
}

.moon-section > time {
  display: none;
}

.moon-section a {
  text-decoration: none;
  color: white;
}

.moon-section p {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff99;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 6px;
}

.moon-section .iconify {
  font-size: 16px;
  margin: 0 10px;
  width: 16px;
}

#subt {
  color: #ffffff99;
  margin-left: 5px;
}

#subt:hover {
  color: white;
}

.moon-title {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.moon-subtitle {
  font-size: 19px;
}

.moon-text {
  display: flex;
  width: 100%;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #ffffff99;
}

.moon-text a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #ffffff99;
}

.latest-news {
  display: flex;
  flex-direction: column;
  line-height: 22px;
}

.latest-news2 {
  display: flex;
}

.latest-news p > a {
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.latest-news p > a:hover {
  color: #ff4422;
}

.latest-news a {
  font-size: 12px;
  color: #aaa;
  font-weight: normal;
}

.latest-news a:hover {
  color: #555;
  text-decoration: none;
}

.latest-links > ul {
  margin-bottom: 18px;
}

.latest-funding li,
a {
  list-style: none;
  text-decoration: none;
  color: #555;
  display: block;
}

.latest-links li > a {
  color: #ff4422;
  font-size: 14px;
  line-height: 30px;
}

.latest-funding h3 {
  color: white;
  background-color: #ff4422;
  padding: 10px 0px 10px 84px;
}

.funding-div1 {
  background-color: #ff3c1914;
  line-height: 18px;
  padding: 10px 0px 10px 84px;
}

.funding-div1 > h4 {
  font-size: 18px;
}

.funding-div1 > h5 {
  font-family: sans-serif;
  font-size: 11px;
  font-weight: 100;
  color: #999;
}

.funding-div2 {
  font-size: 13px;
  line-height: 28px;
  background-color: #ffcfc514;
  padding: 16px;
  border-bottom: 1px solid #ffcbc1;
}

.funding-div2 > a {
  padding: 0px 2px;
}

.funding-div2 .iconify {
  color: #222;
  font-size: 16px;
  margin-right: 10px;
}

.latest-funding img {
  float: left;
  position: relative;
  margin: 11px 0px 0px 11px;
}

.funding-div3 {
  font-size: 12px;
  padding: 12px 16px 34px;
  margin-bottom: 4px;
  background-color: #ffcfc514;
}

.funding-div3 a > span {
  color: #aaa;
}

.paint-div1 {
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 86%), url(/images/creative.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 420px; /* Here is the key for tablet & desktop sizing*/
  width: 100%;
  padding: 15px 12px;
}

.paint-div1 a {
  text-decoration: none;
  color: white;
}

.paint-div1 p {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff99;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 6px;
}

.paint-div1 h5 {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.paint-subtitle {
  font-size: 19px;
}

.subt2 {
  color: #ffffff99;
}

.subt2:hover {
  color: white;
}

.paint-div2 {
  display: flex;
  justify-content: space-between;
  padding-left: 14px;
  margin-top: 2px;
  width: 100%;
  background-color: #ff3c1914;
}

.div2-text h5{
  margin-top: 12px;
  font-family: sans-serif;
  font-weight: 100;
  color: #ff4422;  
}

.div2-text a {
  font-size: 14px;
  color: #ff4422;
  font-weight: bold;
}

.div2-text a:hover {
  text-decoration: underline #ff3b1969;
}

.paint-div3 {
  display: flex;
  align-content: center;
  align-items: center;
}

.paint-div3 ul > li {
  margin-left: 20px;
  padding: 9px 0;
  font-size: 13px;
  color: #555;
}

.deals-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deals-headers > a {
  color: #ff4422;
  font-size: 14px;
}

.deals-headers > a:hover {
  color: #444;
}

.deals-section {
  display: flex;
  flex-direction: column;
  line-height: 22px;
  margin-bottom: 40px;
}

.deals-section a {
  font-size: 14px;
  padding-left: 90px;
  color: black;
  font-weight: bold;
}

.deals-section a:hover {
  color: #ff4422;
  text-decoration: underline #ff3b1969;
}

.deals-section span {
  font-weight: normal;
  font-size: 14px;
}

.span1 {
  padding-left: 14px;
  color: #aaa;
  text-decoration: line-through;
}

.deals-section figure {
  margin: 7px 0px;
}

.deals-section img {
  float: left;
  width: 75px;
  height: 75px;
}

.footer-section {
  padding: 0;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  height: 80px;
}

.footer-icons button {
  color: white;
  font-size: 23px;
  background-color: #333;
  padding: 8px 8px 2px 8px;
  border: none;
  border-radius: 50%;
  margin: 28px 4px 0 4px;
  cursor: pointer;
}

.footer-links ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  height: 80px;
}

.footer-links ul > li {
  padding: 0 5px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.foot-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  color: #AAA;
  background-color: black;
  min-height: 122px;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
}


@media only screen and (min-width: 768px) {

  .nav3 {
    display: none;
  }

  .moon2 p {
    display: none;
  }

  .nav1 {
    display: flex;
  }

  .nav2 {
    display: flex;
    justify-content: space-between;
  }

  .nav1-logo {
    display: block;
    width: 106px;
    height: 80px;
    background-color: black;
    float: left;
    padding: 30px 0 0 19px;
  }

  .logo1 {
    width: 68px; 
    height: 19px;
  }

  .first-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #131313;
    height: 32px;
    width: 100%;
  }

  .first-nav a {
    font-size: 13px;
    color: #ffffff99;
  }

  .nav1-cont1 {
    display: flex;
    width: 80%;
  }

  .nav1-cont1 a {
    padding-right: 14px;
  }

  .nav1-cont2 {
    display: flex;
    justify-content: flex-end;
  }

  .nav1-cont2 a {
    padding-left: 10px;
  }

  #news-link {
    color: white;
  }

  .second-nav {
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin-bottom: 9px;
    border-bottom: 1px solid rgb(236, 236, 236);
  }

  .nav2-cont1 {
    display: flex;
    align-items: center;
  }

  .nav2-cont1 a {
    font-family: sans-serif;
    font-size: 13px;
    color: #AAA;
    padding-left: 20px;
  }

  .nav2-cont2 {
    display: flex;
  }

  .nav2-cont2 button {
    width: 48px;
    font-size: 22px;
    color: rgb(179, 179, 179);
    background-color: white;
    border: 1px solid rgb(236, 236, 236);
  }

  .first-sec {
    margin: 0;
    display: flex;
  }

  .moon-section2 {
    display: flex;
    flex: 2;
    width: 100%;
    margin-right: 8px;
  }

  .moon-section3 {
    width: 100%;
    flex: 1;
  }

  .img-size1 {
    height: 409px;
  }

  .img-size {
    height: 200px;
  }

  .latest-news {
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: repeat(3, 220px);
  }

  .latest-news img {
    float: none;
    width: 230px;
    height: 115px;
  }

  .funding1, .funding2 {
    margin-right: 20px;
  }

  .funding4 {
    display: none;
  }

  .funding-grid {
    display: flex;
  }

  .most-popular {
    display: flex;
    flex-wrap: wrap;
  }

  .paint1 {
    min-width: 354px;
  }

}