* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

h2 a {
  display: block;
  text-decoration: none;
  color: #ff4422;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding: 24px 0px 8px 0px;
}

h2 a:hover {
  color: black;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}
nav a {
  display: none;
}

.nav-logo {
  display: flex;
  justify-content: space-between;
}

.logo-image {
  height: 48px;
  width: 106px;
  background-color: black;
  text-align: center;
  display: flex;
  align-content: center;
  z-index: 999;
}

.logo-image > img {
  align-self: center;
  margin: auto;
  z-index: 999;
}

.nav-logo {
  font-size: 0;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.nav-logo .icon1 {
  font-size: 22px;
  color: rgb(190, 190, 190);
}

.nav-logo .icon2 {
  font-size: 22px;
  color: #ff4422;
}

.nav-logo button {
  width: 49px;
  height: 49px;
  background-color: white;
  border: 1px solid rgb(243, 243, 243);
}

section {
  width: 100%;
  padding: 0px 20px;
}

.first-sec {
  width: 100%;
  padding: 0px 8px;
}

.moon-section {
  display: flex;
  margin: 0px auto 8px;
  flex-direction: column;
  justify-content: flex-end;
  background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 1) 90%
    ),
    url(/images/moon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 247px;
  width: 100%;
  padding: 15px 12px;
}

.moon-section > time {
  display: none;
}

.moon-section a {
  text-decoration: none;
  color: white;
}

.moon-section p {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff99;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 6px;
}

.moon-section .iconify {
  font-size: 16px;
  margin: 0 10px;
  width: 16px;
}

#subt {
  color: #ffffff99;
  margin-left: 5px;
}

#subt:hover {
  color: white;
}

.moon-title {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.moon-subtitle {
  font-size: 19px;
}

.moon-text {
  display: flex;
  width: 100%;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #ffffff99;
}

.moon-text a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #ffffff99;
}

.latest-news {
  display: flex;
  flex-direction: column;
}

.latest-news figure {
  flex: 1;
  margin: 7px 0px;
}

.latest-news figure img {
  float: left;
}

.latest-news figure div {
  margin-left: 85px;
}

.latest-news ul li {
  display: inline-block;
}

.latest-links > ul {
  margin-bottom: 18px;
}

.latest-funding li,
a {
  list-style: none;
  text-decoration: none;
  color: #555;
  display: block;
}

.latest-links li > a {
  color: #ff4422;
  font-size: 14px;
  line-height: 30px;
}

.latest-funding h3 {
  color: white;
  background-color: #ff4422;
  padding: 10px 0px 10px 84px;
}

.second-div {
  background-color: #ff3c1914;
  line-height: 18px;
  padding: 10px 0px 10px 84px;
}

.second-div > h4 {
  font-size: 18px;
}

.second-div > h5 {
  font-family: sans-serif;
  font-size: 11px;
  font-weight: 100;
  color: #999;
}

.third-div {
  font-size: 13px;
  line-height: 28px;
  background-color: #ffcfc514;
  padding: 16px;
  border-bottom: 1px solid #ffcbc1;
}

.third-div > a {
  padding: 0px 2px;
}

.third-div .iconify {
  color: #222;
  font-size: 16px;
  margin-right: 10px;
}

.latest-funding > img {
  float: left;
  position: relative;
  margin: 11px 0px 0px 11px;
}

.fourth-div {
  font-size: 12px;
  padding: 12px 16px 34px;
  margin-bottom: 4px;
  background-color: #ffcfc514;
}

.fourth-div a > span {
  color: #aaa;
}

.most-popular h2 {
  color: #f42;
  margin-bottom: 2.5%;
}

.container-1 {
  background: url("/images/creative.jpg");
  background-size: cover;
  background-position: center center;
  height: 428px;
  color: #fff;
  font-weight: 700;
  max-width: 100%;
}

.container-1 h4 {
  padding-top: 280px;
  margin-left: 10px;
}

.container-1 p {
  font-size: 150%;
  margin-left: 10px;
}
.container-1 ul {
  margin-left: 10px;
  margin-top: -10px;
  list-style: none;
  font-size: 70%;
}
.container-1 ul li {
  display: inline-block;
  padding-right: 10px;
  text-align: start;
  margin-left: 10px;
}

.container-1 ul li a {
  color: #fff;
}

.container-2 {
  height: 96px;
  color: #f42;
  margin: auto 0;
  background-color: ;
}

.container-2 h5 {
  color: #f42;
  text-transform: uppercase;
  margin-top: 2%;
}
.container-2 p a {
  color: #f42;
  margin-top: 1.5%;
}
.container-2 img {
  float: right;
}

.most-popular ul {
  margin: 10px 0;
  font-size: 80%;
}

.most-popular ul li {
  list-style: #f42;
  border-bottom: 1px solid #ccc;
  margin-top: 15px;
  padding-bottom: 15px;
}

.most-popular ul li a {
  text-decoration: none;
  color: #444;
}
